<div class="nav">
  <p>calculator</p>
  <button class="theme" (click)="toggleDarkTheme()">Switch theme</button>
</div>
<section>
  <div class="borderall">
    <div class="borderdisplay">
      <div class="displaySmall">
        <h5>{{displaySmall}}</h5>
      </div>
      <div class=display>
        <h2>{{display}}</h2>
      </div>
    </div>

    <button class="clearbutton" (click)="clear('C')">C</button>
    <button class="deletebutton" (click)=" delete('DEL')">DEL</button>

    <button (click)="cache('7')">7</button>
    <button (click)="cache('8')">8</button>
    <button (click)="cache('9')">9</button>
    <button (click)="cache('/')">÷</button>

    <button (click)="cache('4')">4</button>
    <button (click)="cache('5')">5</button>
    <button (click)="cache('6')">6</button>
    <button (click)="cache('*')">×</button>

    <button (click)="cache('1')">1</button>
    <button (click)="cache('2')">2</button>
    <button (click)="cache('3')">3</button>
    <button (click)="cache('-')">-</button>

    <button class="bottomleft" (click)="cache('.')">.</button>
    <button (click)="cache('0')">0</button>
    <button (click)="StrArr('=')">=</button>
    <button class="bottomright" (click)="cache('+')">+</button>
  </div>

</section>