/* Grundsätzlich ist es wichtig auch bei CSS eine gewisse "Architektur" einzuhalten, weil man sonst den Überblick und die Kontrolle verliert. */
/* Früher tendierte man dazu alles in eine große Datei zu packen. Das war die Hölle, was Pflege angeht. Deswegen sollte man sich mit CSS-Architektur beschäftigen, z.B. https://snipcart.com/blog/organize-css-modular-architecture. */
/* Jetzt gibt es z.B. Angular, wo man auch Komponentenweise CSS erstellt. Das ist besser, aber natürlich gibt es auch noch übergreifendes CSS. Siehe dafür https://angular.io/guide/component-styles, https://medium.com/@kmathy/angular-tips-and-tricks-for-css-structure-cb73fa50f0e8 (keine Ahnung ob das so roichtig ist, aber klingt gut) oder https://www.infoq.com/news/2019/12/components-css-architecture/ */
/* Außerdem hat man jetzt mit SASS oder SCSS mehr Möglichkeiten. Im Zweifel würde ich reines CSS gar nicht mehr einsetzen. Siehe https://www.pluralsight.com/guides/use-sass-less-or-css-within-your-angular-component-template */

header {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--nav-color);
}

.title {
    color: var(--txt-color);
}

main {
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bkg-color);
}

button.theme {
    width: 22px;
    height: 22px;
    font-size: 23px;
    font-weight: bold;
    border: var(--nav-color);
    border-radius: 100%;
    background-color: var(--nav-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

button.theme:active {
    box-shadow: 2px 2px 5px #808080;
}

button.theme:hover {
    background-color: var(--nav-color);
}

button {
    width: 90px;
    /* width: 12vh; */
    height: 70px;
    /* height: 9vh; */
    font-size: 3vh;
    border: 1px solid var(--btn-border-color);
    background-color: var(--btn-bg-color);
    color: var(--btn-txt-color);
    font-family: inherit;
}

button:hover {
    background: var(--btn-hover);
}

button:active {
    background: var(--btn-click);
}

button.clear {
    width: 180px;
    /* width: 24vh; */
    border-top-left-radius: 10px;
}

button.delete {
    width: 180px;
    /* width: 24vh; */
    border-top-right-radius: 10px;
}

button.plus {
    border-bottom-right-radius: 10px;
}

button.dot {
    border-bottom-left-radius: 10px;
}

.calculator {
    border-radius: 25px;
    width: 360px;
    /* width: 48vh; */
    background-color: var(--calc-color);
    border: 20px solid var(--calc-color);
}

.display {
    border-bottom: 20px solid var(--calc-color);
}

.display div {
    width: 358px;
    /* width: 48vh; */
    min-height: 56px;

    /* height: 8vh; */
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--disp-color);
    color: var(--txt-color);
    word-wrap: break-word;
    word-break: break-word;
}

.displayTop {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid var(--btn-border-color);
    border-bottom: none;
}

.displayBottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid var(--btn-border-color);
    border-top: none;
}

span.big {
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
}

span.small {
    font-weight: bold;
    font-size: 13px;
    margin: 10px;
    margin-top: 20px;
}

input {
    display: none;
}