<header>
  <span class="title">Calculator</span>
  <button class="theme" (click)="toggleDarkTheme()">

    <i class="fa-solid fa-circle-half-stroke">
    </i>
  </button>
</header>

<main>
  <div class=" calculator">
    <div class="display">
      <div class="displayTop">
        <span class="small">{{displaySmall}}</span>
      </div>
      <div class=displayBottom>
        <span class="big">{{display}}</span>
      </div>
    </div>

    <button (click)="clear()" class="clear">C</button>
    <button (click)=" delete()" class="delete">DEL</button>

    <button (click)="input('7')">7</button>
    <button (click)="input('8')">8</button>
    <button (click)="input('9')">9</button>
    <button (click)="input('/')">÷</button>

    <button (click)="input('4')">4</button>
    <button (click)="input('5')">5</button>
    <button (click)="input('6')">6</button>
    <button (click)="input('*')">×</button>

    <button (click)="input('1')">1</button>
    <button (click)="input('2')">2</button>
    <button (click)="input('3')">3</button>
    <button (click)="input('-')">-</button>

    <button (click)="input('.')" class="dot">.</button>
    <button (click)="input('0')">0</button>
    <button (click)="result()">=</button>
    <button (click)="input('+')" class="plus">+</button>
  </div>
  <input (window:keyup)="onKey($event)">
</main>