/* Grundsätzlich ist es wichtig auch bei CSS eine gewisse "Architektur" einzuhalten, weil man sonst den Überblick und die Kontrolle verliert. */
/* Früher tendierte man dazu alles in eine große Datei zu packen. Das war die Hölle, was Pflege angeht. Deswegen sollte man sich mit CSS-Architektur beschäftigen, z.B. https://snipcart.com/blog/organize-css-modular-architecture. */
/* Jetzt gibt es z.B. Angular, wo man auch Komponentenweise CSS erstellt. Das ist besser, aber natürlich gibt es auch noch übergreifendes CSS. Siehe dafür https://angular.io/guide/component-styles, https://medium.com/@kmathy/angular-tips-and-tricks-for-css-structure-cb73fa50f0e8 (keine Ahnung ob das so roichtig ist, aber klingt gut) oder https://www.infoq.com/news/2019/12/components-css-architecture/ */
/* Außerdem hat man jetzt mit SASS oder SCSS mehr Möglichkeiten. Im Zweifel würde ich reines CSS gar nicht mehr einsetzen. Siehe https://www.pluralsight.com/guides/use-sass-less-or-css-within-your-angular-component-template */

/* Um es simpel und konkret zu machen, würde ich die CSS folgendermaßen aufbauen:

Global, z.B. Font

:host {}
body {}

Elemente, z.B. h1, h2 und ggf. ihre Ableitungen mit Klassen, z.B.:

button {}
button:hover {}
button.clear {}
...

Komponenten, z.B. .display und alle Elemente dort drin

.display {}
.display .last {}
.display .current {}
.display button {} // z.B.

*/


/* Die beiden könnte man zusammenfassen. Außerdem würde ich versuchen Farben einheiltich mit Hex-Werten (z.B. #000000) darzustellen und  nicht zu mischen. */

header {
    background-color: var(--nav-color);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title {
    color: var(--txt-color);
}

/* Mach dich Mal schlau bei den Maßeinheiten. Du verwendest absolute (px) und relative Werte (vh, %). Tendenziell geht die Empfehlung hin zu relativen WErten, vor allem wg Responsive-Design. */

main {
    height: 93.41vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bkg-color);
}

button.theme {
    width: 60px;
    height: 35px;
    font-size: 12px;
    border-radius: 10px;
    font-weight: bold;
    background-color: var(--btn-bg-color);
    border-color: var(--btn-border-color);
}

button.theme:active {
    box-shadow: 2px 2px 5px grey;
}

button {
    width: 90px;
    height: 70px;
    background-color: var(--btn-bg-color);
    color: var(--btn-txt-color);
    font-size: 3vh;
    border: 1px solid var(--btn-border-color);
}

button:hover {
    background: var(--btn-hover);
}

button:active {
    background: var(--btn-click);
}

button.clear {
    width: 180px;
    border-top-left-radius: 10px;
}

button.delete {
    width: 180px;
    border-top-right-radius: 10px;
}

button.plus {
    border-bottom-right-radius: 10px;
}

button.dot {
    border-bottom-left-radius: 10px;
}

.display {
    border-bottom: 20px solid var(--div-color);
}

.display div {
    width: 358px;
    height: 50px;
    background-color: var(--disp-color);
    color: var(--txt-color);
    display: flex;
    flex-direction: row-reverse;
}

.displayTop {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid var(--btn-border-color);
    border-bottom: none;
}

.displayBottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid var(--btn-border-color);
    border-top: none;
}

.calculator {
    border: 20px solid var(--div-color);
    border-radius: 25px;
    width: 360px;
    background-color: var(--div-color);

}

span.big {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

span.small {
    font-size: 13px;
    font-weight: bold;
    margin: 10px;
}