/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0px;
}

body {
    --bkg-color: #C4C4C4;
    --txt-color: #000000;
    --nav-color: #ffffff;
    --calc-color: #363636;
    --disp-color: #ffffff;
    --btn-hover: #c6c2ca;
    --btn-click: #808080;
    --btn-txt-color: #000000;
    --btn-bg-color: #e6e3e8;
    --btn-border-color: #000000;
}

body.dark-theme {
    --bkg-color: #212121;
    --txt-color: #ffffff;
    --nav-color: #000000;
    --calc-color: #303030;
    --disp-color: #484848;
    --btn-hover: #212121;
    --btn-click: #000000;
    --btn-txt-color: #ffffff;
    --btn-bg-color: #424242;
    --btn-border-color: #303030;
}